asn1crypto==0.24.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorama==0.4.0
cryptography==2.3.1
cupshelpers==1.0
decorator==4.3.0
Flask==1.0.2
idna==2.5
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
mutagen==1.41.0
onboard==1.4.1
packaging==18.0
peewee==3.5.1
pyasn1==0.4.4
pycairo==1.18.0
pycparser==2.19
pycups==1.9.73
pygobject==3.28.2
pyOpenSSL==18.0.0
pyparsing==2.0.6
pysmbc==1.0.15.8
PySocks==1.6.7
pyte==0.8.0
requests==2.18.4
six==1.11.0
style==1.1.0
update==0.0.1
urllib3==1.22
virtualenv==16.1.0
wcwidth==0.1.7
Werkzeug==0.14.1
youtube-dl==2018.10.29
