body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body {
  height: 100%; }

body {
  margin: 0;
  padding-top: 0.1px;
}

.button-container{
  margin: 2em 0;
}

.button-container button, .input, main, .categorychooser{
  width: 500px;
}

main{
  margin: 20px auto;
  text-align: center;
}

ul{
  padding: 0;
}

.list {
  text-align: left;
  padding-left: 10px;
}

.list ul {
  padding-left: 20px;
}

.categorychooser{
  margin: 20px auto;
  text-align: left;
}